@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&family=REM:wght@200&display=swap');

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}
nav {
    background-color: #e7e7e7ec;
    display: flex;
    padding: 18px;
}

.left-side {
    width: 50%;
}

.left-side ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.left-side ul li {
    margin-right: 50px;
}

.left-side ul li a {
    text-decoration: none;
    color: black;
}

.left-side ul li img {
  width: 50px;  
  margin-left: 50px;

}

.right-side {
  display: flex;
  width: 48%;
  justify-content: end;
  align-items: center;
}

.right-side :hover {
  background-color:#fd4e2f;
}

.right-side a {
  text-decoration: none;
  font-size: 18px;
  background-color: black;
  padding: 6px 20px;
  border-radius: 6px;
  color: white;
}

#barsmenu {
    display: none;
}

Header .hamburger-menu {
    background-color: #e7e7e7ec;
    padding: 10px;
    display: none;
}

Header .hamburger-menu ul {
    list-style-type: none;
    text-align: center;
    font-weight: bold;
}

Header .hamburger-menu ul li {
    padding: 15px;
}

Header .hamburger-menu ul li a {
    color: black;
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 10px;
    transition: .2s;
}

Header .hamburger-menu ul li a:hover {
    background-color: #fd4e2f;
    color: white;
}

Header .hamburger-menu ul li .active-page {
    background-color: #fd4e2f;
    color: white;
}

  .blog-post {
    padding: 10px 300px;
}

.blog-post h1.title {
    text-align: center;
}

.blog-post .banner {
    display: flex;
    
}

.blog-post .banner img {
    width: 50%;
    margin-right: 80px;
}

.banner .banner-text {
    align-items: start;
}

.banner-text p {
    font-size: 1.2em;
}

.banner-text td {
    font-size: 1.2em;
    padding: 0 25px 25px 0;
}

.blog-post-content p {
    text-align: justify;
}

@media screen and (max-width: 500px) {
    
  .hide-item {
    display: none;
}

#barsmenu {
    display: flex;
}
    .blog-post {
        padding: 10px;
    }

    .blog-post .banner {
        display: grid;
    }

    .blog-post .banner img {
        width: 100%;
    }
}