@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&family=REM:wght@200&display=swap');

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}
nav {
    background-color: #e7e7e7ec;
    display: flex;
    padding: 18px;
}

.left-side {
    width: 50%;
}

.left-side ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.left-side ul li {
    margin-right: 50px;
}

.left-side ul li a {
    text-decoration: none;
    color: black;
}

.left-side ul li img {
  width: 50px;  
  margin-left: 50px;

}

.right-side {
  display: flex;
  width: 48%;
  justify-content: end;
  align-items: center;
}

.right-side :hover {
  background-color:#fd4e2f;
}

.right-side a {
  text-decoration: none;
  font-size: 18px;
  background-color: black;
  padding: 6px 20px;
  border-radius: 6px;
  color: white;
}

#barsmenu {
    display: none;
}

Header .hamburger-menu {
    background-color: #e7e7e7ec;
    padding: 10px;
    display: none;
}

Header .hamburger-menu ul {
    list-style-type: none;
    text-align: center;
    font-weight: bold;
}

Header .hamburger-menu ul li {
    padding: 15px;
}

Header .hamburger-menu ul li a {
    color: black;
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 10px;
    transition: .2s;
}

Header .hamburger-menu ul li a:hover {
    background-color: #fd4e2f;
    color: white;
}

Header .hamburger-menu ul li .active-page {
    background-color: #fd4e2f;
    color: white;
}

body {
    margin: 0;
      background-color: #67a6e6b9;
      font-family: 'Roboto', sans-serif;
      font-family: 'Roboto Condensed', sans-serif;
}

  section.blog-form {
    display: flex;
    background-color: #67a6e6b9;
}

section.blog-form .blog-form-container {
    width: 600px;
    margin: auto;
    padding-bottom: 5%;
}

section.blog-form h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
}

section.blog-form label {
    font-weight: 600;
}


section.blog-form #input-title-blog,

#input-description-blog,

#input-upload-blog {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 5px;
}

section.blog-form .input-date-div {
    display: flex;
    box-sizing: border-box;
    gap: 1em;
    margin-bottom: 10px;
}

section.blog-form #input-startdate-blog {
    width: 100%;
}

section.blog-form #input-enddate-blog {
    width: 100%;
}
section.blog-form .input-technologies-div {
    margin-bottom: 15px;
}
section.blog-form .input-technologies-div h4 {
    margin-top: 0px;
    margin-bottom: 5px;
}

section.blog-form .input-technologies-div .input-technology-div {
    display: flex;
    flex-wrap: wrap;
}

section.blog-form .input-technologies-div .input-technology-div label {
    margin-right: 20px;
}


section.blog-form .input-upload-div input {
    background-color: rgb(255, 255, 255);
}

section.blog-form .input-upload-div input#file-upload-button {
    background-color: #fd4e2f;
}

.btn button {
    background-color: #fd4e2f;
    color: whitesmoke;
    float: right;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
}

.btn button:hover {
    background-color: whitesmoke;
    color: #fd4e2f;
}




section.blog-content h1 {
    text-align: center;
    text-transform: uppercase;
}

section.blog-content .blog-content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    margin: auto;
}

section.blog-content .blog-content-container .blog-content-card {
    margin: 20px 10px;
    border-radius: 10px;
    padding: 15px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 20px #030303;
    height: 62vh;
    width: 30%;
    align-items: center;
    
}

section.blog-content .blog-content-container .blog-content-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

section.blog-content .blog-content-container .blog-content-card h2 {
    font-size: 1em;
    margin: 0;
}

.blog-content-card h2 a {
    color: black;
    text-decoration: none;
}

.blog-content-card h2 a:hover {
    text-decoration: underline;
}

.card-text span {
    color: grey;
}

.card-text p {
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 15vh;
}

.card-techstack {
    margin-bottom: 20px;
}

.card-techstack i {
    font-size: 1.5em;
    margin-right: 10px;
}

.card-techstack img {
    width: 20px;
    height: 20px;
}

.card-button {
    display: flex;
    gap: .5em;
}

.card-button button {
    background-color: #fd4e2f;
    color: white;
    border: none;
    width: 50%;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: .2s;
}

.card-button button:hover {
    background-color: white;
    color: #fd4e2f;
}

@media screen and (max-width: 500px) {
    section.blog-content .blog-content-container .blog-content-card {
        width: 90%;
    }
    section.blog-form .blog-form-container{
        width: 90%;
    }
}
@media screen and (max-width: 900px) {
    .hide-item {
        display: none;
    }

    #barsmenu {
        display: flex;
    }
}